.messageInput {
  outline: none;
  border: 1px solid #D3D3D3;
  border-radius: 5px;
  transition: all .3s ease;
  padding: 10px;
  width: 100%;
  /* position: fixed;
  bottom: 0px;
  left: 0px; */
  flex: 0 1 40px;
}

.messageInput:focus {
  border: 1px solid #336dff;
}
